.fascinate-inline-regular {
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: #180161;
}
h1{
    text-align: center;
    font-family: "Fascinate Inline", sans-serif, system-ui;
    color: #FB773C;
    font-size: 3vw;
}
#result{
    font-size: 4vw;
    font-style: italic;
    color: red;
}
footer{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 1rem;
}
.grid-container{
    display: grid;
    border: 1px solid white;
    grid-template-columns: 200px 200px;
    grid-template-rows: 50px 200px;
    gap: 30px;
    justify-content: center;
}
.grid-container>*{
    border: 1px solid red;
}